.git
.github
.DS_Store

node_modules
server/node_modules
web/node_modules

iOS/Derived
iOS/build
iOS/*.xcodeproj
iOS/*.xcworkspace

server/dist
web/dist
web/.next

.env
.env.*
!.env.example

*.p12
*.pem
*.cer
*.mobileprovision
*.provisionprofile
*.pkpass

